body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}
.name{
    color: orange;
}
.header{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.bio{
    width: 50%;
    padding-left: 20px;
}
.bio img{
    width: 80%;
}
.hire-button{
    text-decoration: none;
  background-image: linear-gradient(red,orange);
  font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px ;

}